#background {
    background-color: #dddddd;
    width: 100vw;
    height: 100%;
    font-family: 'Oswald';
}

#title {
    font-size: 150px;
    text-align: center;
    padding-top:5vh;

}

#title::selection {
    background:  #dddddd ;
  }
  #title::-moz-selection {
    background:  #dddddd ; 
  }
  

  #profile-page {
    width: 75vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    font-family: 'Oswald';
    border-radius: 5px;
    margin: auto;
  }


  #account-balance-info {
      font-size: 30px;
  }

  #papers-title {
      font-size: 50px;
  }