#background {
    width: 100vw;
    font-family: 'Oswald';
}

#title {
    font-size: 75px;
    text-align: center;
    padding-top:5vh;

}

#title::selection {
    background:  #dddddd ;
}

#title::-moz-selection {
    background:  #dddddd ; 
}
  

#home-page {
    width: 75vw;
    text-align: center;
    font-family: 'Oswald';
    border-radius: 5px;
    margin: auto;
}


.rows {
    text-align: left;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    padding-left: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom:20px;
}

#profile {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  width: max-content;
  margin: 10px;
}

.rows:hover {
    background-color: #ffffcc;
}

#paper-row-title {
    font-size: 15px;
}

#paper-row-author {
    margin-top: 10px;
    font-size:10px;
}
